/prj/codeblocks/bin/Debug/mhe
/bin/*
/obj/*
/old/*
/new/*
/test/*
/bin/*
/prj/codeblocks/mhe.depend
/prj/codeblocks/mhe.cbp.bak
/prj/codeblocks/mhe.layout
/prj/codeblocks/mhe.layout.bak
/output/*
*.bak
*~*
*.log
*.txt
*.o
*.bmp
*.zip
*.ede
*#*
*.DS_Store*
*xcworkspace*
*xcuserdata*
*.idea*
*.patch
*.editorconfig
!samples/*/build/*



